* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background: #FFFFFF;
    color: #000;
}

.group-checkout-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-checbox-3 {
    display: flex;
}

.checkout-background {
    padding-bottom: 87px;
}

.group-checkout-2 {
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.title-checkout {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}

.cta-checkout {
    text-align: center;
    background-color: #FFFFFF;
    padding: 13px 65px;
    border: 2px solid #0156FF;
    color: #0156FF;
}

.cta-checkout:hover {
    box-shadow: 0px 0px 3px 2px #92DEFD;
}

.title-small {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 15px;
}

.border-checkout {
    border: 1px solid #CCCCCC;
    width: 100%;
}

.email-address-checkout {
    font-weight: 700;
    font-size: 13px;
    line-height: 27px;
    color: #000000;
    padding: 25px 0 5px 0;
}

.star {
    color: #F5661A;
}

.paragraph-checkout-1 {
    font-size: 13px;
    line-height: 27px;
    color: #666666;
    margin: 10px 0 20px 0;
}

.box-input {
    display: grid;
    row-gap: 10px;
}

.group-select-checkout {
    width: 60%;
}

.box-border-checkout {
    margin: 30px 0 10px 0;
}

.input-checkbox-checkout {
    width: 21px;
    height: 21px;
    margin-right: 8px;
}

.paragraph-checkout-2 {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.box-input-checkbox-checkout-p {
    display: flex;
    align-items: center;
}

.prices-checkout-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 60px;
}

.price-checkout {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.prices-checkout-3 {
    display: flex;
    align-items: center;
    grid-gap: 400px;
}

.cta-checkout-2 {
    background: #0156FF;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 95px;
    border: none;
    margin-top: 35px;
}

.cta-checkout-2:hover {
    box-shadow: 0px 0px 3px 2px #92DEFD;
}

.title-checkout-2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.items-2-checkout {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.group-items-2-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-checkout-1 {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.box-checkout-2 {
    background: #F5F7FF;
    height: fit-content;
    padding: 20px 30px 30px;
    margin: 40px 0 0 0;
    width: 30%;
}

.border-checkout-2 {
    border: 1px solid #CCCCCC;
    margin: 20px 0 15px 0;
}

.group-checkout-3 {
    display: flex;
    margin: 22px 0 25px 0;
}

.group-checkout-4 {
    display: flex;
}

.paragraph-information-pc-checkout {
    font-size: 14px;
    line-height: 21px;
}

.image-1-a {
    margin: 0 15px 0 0;
}

.qty {
    font-size: 14px;
    line-height: 140%;
    color: #8C8C8C;
}

.price {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 10px;
}

.price-1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 5px;
}

.group-span {
    display: flex;
    justify-content: flex-end;
    column-gap: 70px;
    margin: 15px 0 20px 0;
}

.shipping {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}

.review {
    padding: 0 25px 0 0;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.box-input {
    flex: 1;
}

.border-checkout-3 {
    width: 100%;
    border: 1px solid #CCCCCC;
}

.border-checkout-4 {
    border: 1px solid #CCCCCC;
    width: 60%;
}