    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    body {
        max-width: 1920px;
        font-family: 'Poppins', sans-serif;
        margin: 0 auto;
        background: #FFFFFF;
    }
    
    .header-background-1 {
        background-color: #020202;
        color: #FFFFFF;
    }
    
    .content {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 24px;
    }
    
    .navigation {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .icons-header {
        display: flex;
        grid-gap: 13px;
        align-items: center;
    }
    
    .time {
        color: #8C8C8C;
    }
    
    .date {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        align-items: center;
        display: flex;
        column-gap: 10px;
    }
    
    .paragraph-header {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #ACACAC;
    }
    
    .contact-us {
        color: #0156FF;
        text-decoration: underline;
        border-radius: 5%;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }
    
    .call-us {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }
    
    .group-list-logo {
        display: flex;
        align-items: center;
    }
    
    .list-items-header {
        display: flex;
        list-style-type: none;
        grid-gap: 25px;
        align-items: center;
    }
    
    .box-header {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
    }
    
    .group-shopping {
        display: flex;
        align-items: center;
        grid-gap: 30px;
        cursor: pointer;
    }
    
    .logo {
        margin: 0 55px 0 15px;
    }
    
    .border {
        border: 1px solid #CCCCCC;
    }
    
    .item-header {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }
    
    .item-header:hover {
        border-bottom: 3px solid #0156FF;
    }
    
    .image-hover:hover {
        border: 3px solid #C1DFFD;
        border-radius: 50%;
    }
    
    .cta-header {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #0156FF;
        border: 2px solid #0156FF;
        border-radius: 50px;
        padding: 8px 25px;
        background: #ffffff;
        cursor: pointer;
    }
    
    .cta-header:hover {
        box-shadow: 0px 0px 3px 2px #92DEFD;
    }
    
    .background-footer {
        background: #F5F7FF;
        max-width: 1920px;
        margin: 0 auto;
    }
    
    .title-small-footer {
        font-weight: bold;
        font-size: 18px;
        line-height: 132.5%;
        color: #000000;
        margin-top: 25px;
    }
    
    .paragraph-footer-1 {
        font-size: 14px;
        line-height: 140%;
        color: #000000;
        opacity: 0.7;
        width: 55%;
        margin-top: 13px;
    }
    
    .group-footer-1 {
        display: flex;
        padding: 60px 0 45px 0;
        justify-content: center;
    }
    
    .box-footer-1 {
        text-align: center;
    }
    
    .center-paragraph {
        display: flex;
        justify-content: center;
    }
    
    .background-footer-2 {
        background-color: #020203;
        color: #FFFFFF;
    }
    
    .box-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0 75px 0;
        column-gap: 329px;
    }
    
    .group-titles {
        flex: 1;
    }
    
    .title-footer {
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 132.5%;
    }
    
    .input-button {
        flex: 1;
        display: flex;
    }
    
    .paragraph-footer-2 {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }
    
    .input-footer {
        background: #000000;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        padding: 15px 0 15px 10px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 300;
        outline: none;
        width: 100%;
    }
    
     ::placeholder {
        color: #FFFFFF;
    }
    
    .input-footer:focus {
        border: 2px solid#257CD3;
        box-shadow: 0px 0px 3px 2px #92DEFD;
    }
    
    .cta-footer {
        background: #0156FF;
        border-radius: 50px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        border: 0;
        padding: 15px 45px 14px 45px;
        margin-left: 25px;
        cursor: pointer;
    }
    
    .cta-footer:hover {
        box-shadow: 0px 0px 3px 2px #92DEFD;
    }
    
    .box-list-footer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 72px;
        margin-bottom: 35px;
    }
    
    .item-solo {
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .item-solo:hover {
        background: #504D4D;
    }
    
    .list-footer {
        list-style-type: none;
        font-weight: bold;
        font-size: 14px;
        list-style-type: none;
        font-weight: 200;
        font-size: 14px;
    }
    
    .border-footer {
        border-bottom: 2px solid #3f3b3b;
    }
    
    .box-icons-footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        align-items: center;
    }
    
    .icons-footer {
        display: flex;
        grid-gap: 15px;
    }
    
    .group-icons-footer {
        display: flex;
        grid-gap: 10px;
    }
    
    .paragraph-footer {
        font-weight: 500;
        font-size: 12px;
        line-height: 132.5%;
        color: #FFFFFF;
        opacity: 0.6;
    }
    
    .solo-color {
        color: #52C5FF;
    }
    
    .item-footer:hover {
        background: #504D4D;
    }
    
    .link-color a:link {
        color: #FFFFFF;
    }
    
    .icon-facebook-footer {
        cursor: pointer;
    }
    
    .icon-instagram-footer {
        cursor: pointer;
    }
    
    .icon-paypal-footer {
        cursor: pointer;
    }
    
    .icon-visa-footer {
        cursor: pointer;
    }
    
    .icon-logo-5-footer {
        cursor: pointer;
    }
    
    .icon-descover-footer {
        cursor: pointer;
    }
    
    .icon-logo-4-footer {
        cursor: pointer;
    }
    
    .group-x {
        justify-content: center;
        display: flex;
    }
    
    .margin-bottom {
        padding: 65px 0;
    }
    
    .box-small-x {
        display: flex;
        justify-content: flex-end;
        margin: 7px 0 21px 0;
    }
    
    .logo-x {
        padding-right: 25px;
    }
    
    .border-x {
        background: #F5F7FF;
        width: 1160px;
        color: #000000;
        padding: 50px 120px 60px;
    }
    
    .border-x:hover {
        border-radius: 20px;
    }
    
    .box-x-1 {
        display: flex;
    }
    
    .box-x-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .paragraph-x {
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
    }
    
    .cta-x {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #0156FF;
        border: 2px solid #0156FF;
        border-radius: 50px;
        padding: 7px 35px;
        background: transparent;
        cursor: pointer;
    }
    
    .cta-x:hover {
        box-shadow: 0px 0px 3px 2px #92DEFD;
    }
    
    .Tama-Brown {
        font-size: 14px;
        line-height: 21px;
    }
    
    .fa-star {
        background: #E9A426;
        border-radius: 0.1px;
        width: 13px;
        height: 13px;
    }
    
    .stars {
        display: flex;
        column-gap: 2px;
    }
    
    .reviews {
        font-size: 12px;
        line-height: 25px;
        align-items: center;
        text-align: center;
        color: #8C8C8C;
    }
    
    .reviews-stars {
        align-items: center;
        display: flex;
        column-gap: 10px;
    }
    
    .transitions {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }
    
    .group-transitions {
        display: flex;
        column-gap: 5px;
        align-items: center;
    }
    
    .box-transitions {
        margin: 20px 0 20px 0;
    }
    
    .title {
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        color: #000000;
        margin: 20px 0 20px 0;
    }
    
    .email-address-login {
        font-weight: 600;
        font-size: 13px;
        line-height: 210%;
        color: #000000;
        margin: 15px 0 5px 0;
    }
    
    .input-checkout-1 {
        background: #FFFFFF;
        border: 1px solid#CCCCCC;
        box-sizing: border-box;
        border-radius: 4px;
        width: 565px;
        height: 50px;
    }
    
    .input-emai-login {
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        padding: 15px;
        color: #8C8C8C;
        padding: 15px 0 15px 15px;
        outline: none;
        width: 100%;
    }
    
    .input-emai-login:focus {
        border-color: #54A7FA;
        box-shadow: 0px 0px 3px 2px #0168CE;
    }
    
    .input-emai-login-2 {
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        padding: 15px;
        color: #8C8C8C;
        padding: 15px 0 15px 15px;
        outline: none;
        width: 50%;
    }
    
    .cta-login {
        background: #0156FF;
        border-radius: 50px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 15px 55px;
        border: none;
        cursor: pointer;
    }
    
    .cta-login:hover {
        box-shadow: 0px 0px 3px 2px #0168CE;
    }
    
    .star-login {
        color: #F5661A;
    }
    
    .email-address-checkout {
        font-weight: 700;
        font-size: 13px;
        line-height: 27px;
        color: #000000;
        padding: 15px 0 5px 0;
    }
    
    .group-shopping-cart {
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        padding: 15px;
        width: 100%;
    }
    
    .price {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin-left: 10px;
    }
    
    a:visited {
        color: #FFFFFF;
        background-color: transparent;
        text-decoration: none;
    }
    
    a:link {
        text-decoration: none;
    }
    
    .icon-arrow-wihte {
        display: flex;
    }
    
    .color:visited {
        color: #000000;
    }
    
    .center {
        display: flex;
    }
    
    .color-wihte:visited {
        color: #FFFFFF;
    }