* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background: #FFFFFF;
    color: #000000;
}

.group-input-login {
    display: flex;
    grid-gap: 30px;
}

.paragraph-login-2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    width: 70%;
}

.cta-login-1 {
    margin-top: 15px;
}

.border-login {
    width: 35%;
    background: #F5F9FF;
    padding: 30px 80px 75px 35px;
    height: fit-content;
}

.group-login {
    display: flex;
    margin-bottom: 123px;
    column-gap: 60px;
}

.textarea {
    color: #666666;
    padding: 20px 0 20px;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    width: 100%;
}

.group-address {
    align-items: center;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.address-login {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-left: 15px;
}

.address-login-2 {
    font-size: 13px;
    line-height: 19px;
    margin: 0 0 0 50px;
}

.address-login-3 {
    font-size: 13px;
    line-height: 19px;
    color: #0156FF;
    margin: 5px 0 0 50px;
}

.center-image {
    display: flex;
}

.box-your-name-input {
    flex: 1;
}

.input-emai-login-2 {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    color: #8C8C8C;
    padding: 15px 0 15px 15px;
    outline: none;
    width: 50%;
}

.login {
    display: flex;
    align-items: center;
}