* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background: #FFFFFF;
}

.publicity-msi {
    width: 100%;
}

.icon-arrow {
    display: flex;
    justify-content: space-between;
}

.box-image {
    position: relative;
}

.arrow-left {
    position: absolute;
    top: 110px;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    right: 2px;
    top: 110px;
    cursor: pointer;
}

.new-products {
    margin: 37px 0 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.products-2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
    color: #000000;
}

a:link {
    color: #000000;
}

.border-products {
    position: relative;
    padding: 7px 25px 0;
    flex: 1;
}

.price-tablette {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    text-decoration: line-through;
}

.price-tablette-2 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #000000;
}

.informations-tablette {
    margin: 5px 2px 10px 0;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
}

.group-border-products {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.icon-arrow-grey {
    display: flex;
    justify-content: space-between;
}

.arrow-right-grey {
    position: absolute;
    top: 135px;
    right: 0;
    cursor: pointer;
}

.arrow-left-grey {
    position: absolute;
    cursor: pointer;
    top: 135px;
    left: 1px;
}

.box-logo {
    background: #F5F7FF;
    margin: 18px 0 14px 0;
}

.group-paragraph-logo {
    display: flex;
    justify-content: center;
    padding: 21px 0;
    column-gap: 15px;
}

.paragrapg-logo {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #272560;
}

.own {
    font-Weight: 600;
    font-Style: normal;
    font-Size: 18px;
    Line-height: 21.69px;
}

.learn-more {
    text-decoration: underline;
    cursor: pointer;
    font-Weight: 400;
    font-Style: normal;
    font-Size: 14px;
    Line-height: 16px;
}

.box-products {
    display: flex;
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

.small-title {
    position: absolute;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paragraph-see-products {
    position: absolute;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #FFFFFF;
    top: 308px;
    right: 63px;
    font-weight: 300;
}

.msi-series {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

.msi-series-2 {
    color: #838383;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

.group-msi-series {
    display: flex;
    margin: 35px 0 23px 0;
    column-gap: 26px;
}

.logos {
    margin: 66px 0 78px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 23px;
}

.box-pc-gamer {
    display: flex;
    margin: 20px 0 30px 0;
    flex-wrap: wrap;
    column-gap: 6px;
    row-gap: 20px;
}

.paragraph-follow {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
}

.paragraph-pc-gamer {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.date-2 {
    font-size: 10px;
    line-height: 15px;
    color: #8C8C8C;
    text-align: center;
    margin-top: 10px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.paragraph-pc-gamer-2 {
    display: flex;
    justify-content: center;
}

.paragraph-set-up {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.paragraph-set-up-center {
    display: flex;
    justify-content: center;
}

.border-paragraph-set-up {
    padding: 10px 25px 10px 25px;
}

.am {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.color {
    color: #000000;
}

.image-products {
    display: flex;
    justify-content: center;
    margin: 7px 0 10px 0;
}

.box-set-up {
    flex: 0;
}

.box-paragraph {
    padding: 10px 25px 10px 25px;
}

.content-3 {
    margin: auto 0;
    max-width: 1000px;
}

.group-box {
    display: flex;
    padding: 61px 0 45px 0;
    justify-content: center;
}

.logo-zip {
    display: flex;
}

.sizing {
    margin-top: 40px;
}

.box-spacing {
    display: grid;
    row-gap: 31px;
}

.image-pc-gamer {
    display: flex;
}

@media only screen and (max-width: 1271px) {
    .border-products {
        position: relative;
        padding: 7px 25px 0;
        flex: 0;
    }
}